/* jhsu-dev.css - Noctalia user template */

:root {
  --noctalia-background: #101510;
  --noctalia-background-rgb: 16, 21, 16;
  --noctalia-error: #ffb4ab;
  --noctalia-error-rgb: 255, 180, 171;
  --noctalia-error-container: #f71b00;
  --noctalia-error-container-rgb: 247, 27, 0;
  --noctalia-inverse-on-surface: #242824;
  --noctalia-inverse-on-surface-rgb: 36, 40, 36;
  --noctalia-inverse-primary: #33993f;
  --noctalia-inverse-primary-rgb: 51, 153, 63;
  --noctalia-inverse-surface: #e3e8e3;
  --noctalia-inverse-surface-rgb: 227, 232, 227;
  --noctalia-on-background: #dfe4dc;
  --noctalia-on-background-rgb: 223, 228, 220;
  --noctalia-on-error: #690005;
  --noctalia-on-error-rgb: 105, 0, 5;
  --noctalia-on-error-container: #2e0400;
  --noctalia-on-error-container-rgb: 46, 4, 0;
  --noctalia-on-primary: #003916;
  --noctalia-on-primary-rgb: 0, 57, 22;
  --noctalia-on-primary-container: #0b1a0d;
  --noctalia-on-primary-container-rgb: 11, 26, 13;
  --noctalia-on-primary-fixed: #212c22;
  --noctalia-on-primary-fixed-rgb: 33, 44, 34;
  --noctalia-on-primary-fixed-variant: #2b3b2d;
  --noctalia-on-primary-fixed-variant-rgb: 43, 59, 45;
  --noctalia-on-secondary: #233425;
  --noctalia-on-secondary-rgb: 35, 52, 37;
  --noctalia-on-secondary-container: #0d120d;
  --noctalia-on-secondary-container-rgb: 13, 18, 13;
  --noctalia-on-secondary-fixed: #212c21;
  --noctalia-on-secondary-fixed-rgb: 33, 44, 33;
  --noctalia-on-secondary-fixed-variant: #2c3b2b;
  --noctalia-on-secondary-fixed-variant-rgb: 44, 59, 43;
  --noctalia-on-surface: #dfe4dc;
  --noctalia-on-surface-rgb: 223, 228, 220;
  --noctalia-on-surface-variant: #c1c9be;
  --noctalia-on-surface-variant-rgb: 193, 201, 190;
  --noctalia-on-tertiary: #00363e;
  --noctalia-on-tertiary-rgb: 0, 54, 62;
  --noctalia-on-tertiary-container: #091316;
  --noctalia-on-tertiary-container-rgb: 9, 19, 22;
  --noctalia-on-tertiary-fixed: #212a2c;
  --noctalia-on-tertiary-fixed-rgb: 33, 42, 44;
  --noctalia-on-tertiary-fixed-variant: #2b383b;
  --noctalia-on-tertiary-fixed-variant-rgb: 43, 56, 59;
  --noctalia-outline: #8b9389;
  --noctalia-outline-rgb: 139, 147, 137;
  --noctalia-outline-variant: #656c63;
  --noctalia-outline-variant-rgb: 101, 108, 99;
  --noctalia-primary: #9ad4a1;
  --noctalia-primary-rgb: 154, 212, 161;
  --noctalia-primary-container: #2a9236;
  --noctalia-primary-container-rgb: 42, 146, 54;
  --noctalia-primary-fixed: #bef4c4;
  --noctalia-primary-fixed-rgb: 190, 244, 196;
  --noctalia-primary-fixed-dim: #96e9a0;
  --noctalia-primary-fixed-dim-rgb: 150, 233, 160;
  --noctalia-scrim: #000000;
  --noctalia-scrim-rgb: 0, 0, 0;
  --noctalia-secondary: #b7ccb6;
  --noctalia-secondary-rgb: 183, 204, 182;
  --noctalia-secondary-container: #498a46;
  --noctalia-secondary-container-rgb: 73, 138, 70;
  --noctalia-secondary-fixed: #c0f4be;
  --noctalia-secondary-fixed-rgb: 192, 244, 190;
  --noctalia-secondary-fixed-dim: #9ae996;
  --noctalia-secondary-fixed-dim-rgb: 154, 233, 150;
  --noctalia-shadow: #000000;
  --noctalia-shadow-rgb: 0, 0, 0;
  --noctalia-surface: #101510;
  --noctalia-surface-rgb: 16, 21, 16;
  --noctalia-surface-bright: #2a382a;
  --noctalia-surface-bright-rgb: 42, 56, 42;
  --noctalia-surface-container: #101510;
  --noctalia-surface-container-rgb: 16, 21, 16;
  --noctalia-surface-container-high: #192119;
  --noctalia-surface-container-high-rgb: 25, 33, 25;
  --noctalia-surface-container-highest: #222c22;
  --noctalia-surface-container-highest-rgb: 34, 44, 34;
  --noctalia-surface-container-low: #101510;
  --noctalia-surface-container-low-rgb: 16, 21, 16;
  --noctalia-surface-container-lowest: #101510;
  --noctalia-surface-container-lowest-rgb: 16, 21, 16;
  --noctalia-surface-dim: #070907;
  --noctalia-surface-dim-rgb: 7, 9, 7;
  --noctalia-surface-variant: #101510;
  --noctalia-surface-variant-rgb: 16, 21, 16;
  --noctalia-terminal-background: #101510;
  --noctalia-terminal-background-rgb: 16, 21, 16;
  --noctalia-terminal-bright-black: #363a35;
  --noctalia-terminal-bright-black-rgb: 54, 58, 53;
  --noctalia-terminal-bright-blue: #b5f1bc;
  --noctalia-terminal-bright-blue-rgb: 181, 241, 188;
  --noctalia-terminal-bright-cyan: #b7ccb6;
  --noctalia-terminal-bright-cyan-rgb: 183, 204, 182;
  --noctalia-terminal-bright-green: #9ad4a1;
  --noctalia-terminal-bright-green-rgb: 154, 212, 161;
  --noctalia-terminal-bright-magenta: #d3e8d2;
  --noctalia-terminal-bright-magenta-rgb: 211, 232, 210;
  --noctalia-terminal-bright-red: #ffb4ab;
  --noctalia-terminal-bright-red-rgb: 255, 180, 171;
  --noctalia-terminal-bright-white: #dfe4dc;
  --noctalia-terminal-bright-white-rgb: 223, 228, 220;
  --noctalia-terminal-bright-yellow: #a1ced8;
  --noctalia-terminal-bright-yellow-rgb: 161, 206, 216;
  --noctalia-terminal-cursor: #dfe4dc;
  --noctalia-terminal-cursor-rgb: 223, 228, 220;
  --noctalia-terminal-cursor-text: #414941;
  --noctalia-terminal-cursor-text-rgb: 65, 73, 65;
  --noctalia-terminal-foreground: #dfe4dc;
  --noctalia-terminal-foreground-rgb: 223, 228, 220;
  --noctalia-terminal-normal-black: #101510;
  --noctalia-terminal-normal-black-rgb: 16, 21, 16;
  --noctalia-terminal-normal-blue: #b5f1bc;
  --noctalia-terminal-normal-blue-rgb: 181, 241, 188;
  --noctalia-terminal-normal-cyan: #b7ccb6;
  --noctalia-terminal-normal-cyan-rgb: 183, 204, 182;
  --noctalia-terminal-normal-green: #9ad4a1;
  --noctalia-terminal-normal-green-rgb: 154, 212, 161;
  --noctalia-terminal-normal-magenta: #d3e8d2;
  --noctalia-terminal-normal-magenta-rgb: 211, 232, 210;
  --noctalia-terminal-normal-red: #ffb4ab;
  --noctalia-terminal-normal-red-rgb: 255, 180, 171;
  --noctalia-terminal-normal-white: #dfe4dc;
  --noctalia-terminal-normal-white-rgb: 223, 228, 220;
  --noctalia-terminal-normal-yellow: #a1ced8;
  --noctalia-terminal-normal-yellow-rgb: 161, 206, 216;
  --noctalia-terminal-selection-bg: #003916;
  --noctalia-terminal-selection-bg-rgb: 0, 57, 22;
  --noctalia-terminal-selection-fg: #9ad4a1;
  --noctalia-terminal-selection-fg-rgb: 154, 212, 161;
  --noctalia-tertiary: #a1ced8;
  --noctalia-tertiary-rgb: 161, 206, 216;
  --noctalia-tertiary-container: #2b879b;
  --noctalia-tertiary-container-rgb: 43, 135, 155;
  --noctalia-tertiary-fixed: #beeaf4;
  --noctalia-tertiary-fixed-rgb: 190, 234, 244;
  --noctalia-tertiary-fixed-dim: #96dae9;
  --noctalia-tertiary-fixed-dim-rgb: 150, 218, 233;

  --noctalia-primary-soft: #9ad4a1;
  --noctalia-primary-hover: #76c580;
  --noctalia-primary-focus: #9ad4a1;

  --noctalia-surface-overlay: #101510;
  --noctalia-surface-raised: #1d261d;
  --noctalia-surface-muted: #101510;

  --noctalia-outline-soft: #8b9389;
  --noctalia-outline-strong: #717a6f;
  --noctalia-shadow-soft: #000000;

  --noctalia-info: #b3ccbe;
  --noctalia-success: #9bd4a0;
  --noctalia-warning: #eabf8e;
  --noctalia-danger: #ffb4ae;

  --noctalia-mError: var(--noctalia-error);
  --noctalia-mOnError: var(--noctalia-on-error);
  --noctalia-mOnPrimary: var(--noctalia-on-primary);
  --noctalia-mOnSecondary: var(--noctalia-on-primary);
  --noctalia-mOnSurface: var(--noctalia-on-surface-variant);
  --noctalia-mOnSurfaceVariant: var(--noctalia-on-surface);
  --noctalia-mOnTertiary: var(--noctalia-on-tertiary);
  --noctalia-mOutline: var(--noctalia-outline);
  --noctalia-mPrimary: var(--noctalia-primary);
  --noctalia-mSecondary: var(--noctalia-primary);
  --noctalia-mShadow: var(--noctalia-shadow);
  --noctalia-mSurface: var(--noctalia-surface);
  --noctalia-mSurfaceVariant: var(--noctalia-surface-container-high);
  --noctalia-mTertiary: var(--noctalia-tertiary);
}

html:root.theme-light {
  --noctalia-background: #d7dbd3;
  --noctalia-background-rgb: 215, 219, 211;
  --noctalia-error: #ba1a1a;
  --noctalia-error-rgb: 186, 26, 26;
  --noctalia-error-container: #e4a2a2;
  --noctalia-error-container-rgb: 228, 162, 162;
  --noctalia-inverse-on-surface: #e6e7e4;
  --noctalia-inverse-on-surface-rgb: 230, 231, 228;
  --noctalia-inverse-primary: #8cd99e;
  --noctalia-inverse-primary-rgb: 140, 217, 158;
  --noctalia-inverse-surface: #262923;
  --noctalia-inverse-surface-rgb: 38, 41, 35;
  --noctalia-on-background: #181d18;
  --noctalia-on-background-rgb: 24, 29, 24;
  --noctalia-on-error: #ffffff;
  --noctalia-on-error-rgb: 255, 255, 255;
  --noctalia-on-error-container: #430909;
  --noctalia-on-error-container-rgb: 67, 9, 9;
  --noctalia-on-primary: #ffffff;
  --noctalia-on-primary-rgb: 255, 255, 255;
  --noctalia-on-primary-container: #19331f;
  --noctalia-on-primary-container-rgb: 25, 51, 31;
  --noctalia-on-primary-fixed: #263228;
  --noctalia-on-primary-fixed-rgb: 38, 50, 40;
  --noctalia-on-primary-fixed-variant: #ecf1ed;
  --noctalia-on-primary-fixed-variant-rgb: 236, 241, 237;
  --noctalia-on-secondary: #ffffff;
  --noctalia-on-secondary-rgb: 255, 255, 255;
  --noctalia-on-secondary-container: #222a23;
  --noctalia-on-secondary-container-rgb: 34, 42, 35;
  --noctalia-on-secondary-fixed: #263226;
  --noctalia-on-secondary-fixed-rgb: 38, 50, 38;
  --noctalia-on-secondary-fixed-variant: #ecf0ec;
  --noctalia-on-secondary-fixed-variant-rgb: 236, 240, 236;
  --noctalia-on-surface: #181d18;
  --noctalia-on-surface-rgb: 24, 29, 24;
  --noctalia-on-surface-variant: #414941;
  --noctalia-on-surface-variant-rgb: 65, 73, 65;
  --noctalia-on-tertiary: #ffffff;
  --noctalia-on-tertiary-rgb: 255, 255, 255;
  --noctalia-on-tertiary-container: #1a2f32;
  --noctalia-on-tertiary-container-rgb: 26, 47, 50;
  --noctalia-on-tertiary-fixed: #1d2527;
  --noctalia-on-tertiary-fixed-rgb: 29, 37, 39;
  --noctalia-on-tertiary-fixed-variant: #dde4e5;
  --noctalia-on-tertiary-fixed-variant-rgb: 221, 228, 229;
  --noctalia-outline: #727970;
  --noctalia-outline-rgb: 114, 121, 112;
  --noctalia-outline-variant: #999f97;
  --noctalia-outline-variant-rgb: 153, 159, 151;
  --noctalia-primary: #346940;
  --noctalia-primary-rgb: 52, 105, 64;
  --noctalia-primary-container: #8ec299;
  --noctalia-primary-container-rgb: 142, 194, 153;
  --noctalia-primary-fixed: #1fad3f;
  --noctalia-primary-fixed-rgb: 31, 173, 63;
  --noctalia-primary-fixed-dim: #1b7e31;
  --noctalia-primary-fixed-dim-rgb: 27, 126, 49;
  --noctalia-scrim: #000000;
  --noctalia-scrim-rgb: 0, 0, 0;
  --noctalia-secondary: #506351;
  --noctalia-secondary-rgb: 80, 99, 81;
  --noctalia-secondary-container: #9cca9e;
  --noctalia-secondary-container-rgb: 156, 202, 158;
  --noctalia-secondary-fixed: #1fad26;
  --noctalia-secondary-fixed-rgb: 31, 173, 38;
  --noctalia-secondary-fixed-dim: #1b7e20;
  --noctalia-secondary-fixed-dim-rgb: 27, 126, 32;
  --noctalia-shadow: #000000;
  --noctalia-shadow-rgb: 0, 0, 0;
  --noctalia-surface: #d7dbd3;
  --noctalia-surface-rgb: 215, 219, 211;
  --noctalia-surface-bright: #dfe2db;
  --noctalia-surface-bright-rgb: 223, 226, 219;
  --noctalia-surface-container: #f6fbf2;
  --noctalia-surface-container-rgb: 246, 251, 242;
  --noctalia-surface-container-high: #ebf6e2;
  --noctalia-surface-container-high-rgb: 235, 246, 226;
  --noctalia-surface-container-highest: #e0f1d3;
  --noctalia-surface-container-highest-rgb: 224, 241, 211;
  --noctalia-surface-container-low: #e6ebe2;
  --noctalia-surface-container-low-rgb: 230, 235, 226;
  --noctalia-surface-container-lowest: #dde1d9;
  --noctalia-surface-container-lowest-rgb: 221, 225, 217;
  --noctalia-surface-dim: #d6edc3;
  --noctalia-surface-dim-rgb: 214, 237, 195;
  --noctalia-surface-variant: #f6fbf2;
  --noctalia-surface-variant-rgb: 246, 251, 242;
  --noctalia-terminal-background: #f6fbf2;
  --noctalia-terminal-background-rgb: 246, 251, 242;
  --noctalia-terminal-bright-black: #f6fbf2;
  --noctalia-terminal-bright-black-rgb: 246, 251, 242;
  --noctalia-terminal-bright-blue: #00210a;
  --noctalia-terminal-bright-blue-rgb: 0, 33, 10;
  --noctalia-terminal-bright-cyan: #506351;
  --noctalia-terminal-bright-cyan-rgb: 80, 99, 81;
  --noctalia-terminal-bright-green: #346940;
  --noctalia-terminal-bright-green-rgb: 52, 105, 64;
  --noctalia-terminal-bright-magenta: #0e1f11;
  --noctalia-terminal-bright-magenta-rgb: 14, 31, 17;
  --noctalia-terminal-bright-red: #ba1a1a;
  --noctalia-terminal-bright-red-rgb: 186, 26, 26;
  --noctalia-terminal-bright-white: #181d18;
  --noctalia-terminal-bright-white-rgb: 24, 29, 24;
  --noctalia-terminal-bright-yellow: #39656d;
  --noctalia-terminal-bright-yellow-rgb: 57, 101, 109;
  --noctalia-terminal-cursor: #181d18;
  --noctalia-terminal-cursor-rgb: 24, 29, 24;
  --noctalia-terminal-cursor-text: #dde5da;
  --noctalia-terminal-cursor-text-rgb: 221, 229, 218;
  --noctalia-terminal-foreground: #181d18;
  --noctalia-terminal-foreground-rgb: 24, 29, 24;
  --noctalia-terminal-normal-black: #f6fbf2;
  --noctalia-terminal-normal-black-rgb: 246, 251, 242;
  --noctalia-terminal-normal-blue: #00210a;
  --noctalia-terminal-normal-blue-rgb: 0, 33, 10;
  --noctalia-terminal-normal-cyan: #506351;
  --noctalia-terminal-normal-cyan-rgb: 80, 99, 81;
  --noctalia-terminal-normal-green: #346940;
  --noctalia-terminal-normal-green-rgb: 52, 105, 64;
  --noctalia-terminal-normal-magenta: #0e1f11;
  --noctalia-terminal-normal-magenta-rgb: 14, 31, 17;
  --noctalia-terminal-normal-red: #ba1a1a;
  --noctalia-terminal-normal-red-rgb: 186, 26, 26;
  --noctalia-terminal-normal-white: #181d18;
  --noctalia-terminal-normal-white-rgb: 24, 29, 24;
  --noctalia-terminal-normal-yellow: #39656d;
  --noctalia-terminal-normal-yellow-rgb: 57, 101, 109;
  --noctalia-terminal-selection-bg: #ffffff;
  --noctalia-terminal-selection-bg-rgb: 255, 255, 255;
  --noctalia-terminal-selection-fg: #346940;
  --noctalia-terminal-selection-fg-rgb: 52, 105, 64;
  --noctalia-tertiary: #39656d;
  --noctalia-tertiary-rgb: 57, 101, 109;
  --noctalia-tertiary-container: #93bdc5;
  --noctalia-tertiary-container-rgb: 147, 189, 197;
  --noctalia-tertiary-fixed: #1f97ad;
  --noctalia-tertiary-fixed-rgb: 31, 151, 173;
  --noctalia-tertiary-fixed-dim: #1b6f7e;
  --noctalia-tertiary-fixed-dim-rgb: 27, 111, 126;

  --noctalia-primary-soft: #346940;
  --noctalia-primary-hover: #2a5534;
  --noctalia-primary-focus: #346940;

  --noctalia-surface-overlay: #d7dbd3;
  --noctalia-surface-raised: #cfd4cb;
  --noctalia-surface-muted: #f6fbf2;

  --noctalia-outline-soft: #727970;
  --noctalia-outline-strong: #545953;
  --noctalia-shadow-soft: #000000;

  --noctalia-info: #4c6357;
  --noctalia-success: #35693f;
  --noctalia-warning: #785830;
  --noctalia-danger: #bb1723;

  --noctalia-mError: var(--noctalia-error);
  --noctalia-mOnError: var(--noctalia-on-error);
  --noctalia-mOnPrimary: var(--noctalia-on-primary);
  --noctalia-mOnSecondary: var(--noctalia-on-primary);
  --noctalia-mOnSurface: var(--noctalia-on-surface-variant);
  --noctalia-mOnSurfaceVariant: var(--noctalia-on-surface);
  --noctalia-mOnTertiary: var(--noctalia-on-tertiary);
  --noctalia-mOutline: var(--noctalia-outline);
  --noctalia-mPrimary: var(--noctalia-primary);
  --noctalia-mSecondary: var(--noctalia-primary);
  --noctalia-mShadow: var(--noctalia-shadow);
  --noctalia-mSurface: var(--noctalia-surface);
  --noctalia-mSurfaceVariant: var(--noctalia-surface-container-high);
  --noctalia-mTertiary: var(--noctalia-tertiary);
}

html:root.theme-dark {
  --noctalia-background: #101510;
  --noctalia-background-rgb: 16, 21, 16;
  --noctalia-error: #ffb4ab;
  --noctalia-error-rgb: 255, 180, 171;
  --noctalia-error-container: #f71b00;
  --noctalia-error-container-rgb: 247, 27, 0;
  --noctalia-inverse-on-surface: #242824;
  --noctalia-inverse-on-surface-rgb: 36, 40, 36;
  --noctalia-inverse-primary: #33993f;
  --noctalia-inverse-primary-rgb: 51, 153, 63;
  --noctalia-inverse-surface: #e3e8e3;
  --noctalia-inverse-surface-rgb: 227, 232, 227;
  --noctalia-on-background: #dfe4dc;
  --noctalia-on-background-rgb: 223, 228, 220;
  --noctalia-on-error: #690005;
  --noctalia-on-error-rgb: 105, 0, 5;
  --noctalia-on-error-container: #2e0400;
  --noctalia-on-error-container-rgb: 46, 4, 0;
  --noctalia-on-primary: #003916;
  --noctalia-on-primary-rgb: 0, 57, 22;
  --noctalia-on-primary-container: #0b1a0d;
  --noctalia-on-primary-container-rgb: 11, 26, 13;
  --noctalia-on-primary-fixed: #212c22;
  --noctalia-on-primary-fixed-rgb: 33, 44, 34;
  --noctalia-on-primary-fixed-variant: #2b3b2d;
  --noctalia-on-primary-fixed-variant-rgb: 43, 59, 45;
  --noctalia-on-secondary: #233425;
  --noctalia-on-secondary-rgb: 35, 52, 37;
  --noctalia-on-secondary-container: #0d120d;
  --noctalia-on-secondary-container-rgb: 13, 18, 13;
  --noctalia-on-secondary-fixed: #212c21;
  --noctalia-on-secondary-fixed-rgb: 33, 44, 33;
  --noctalia-on-secondary-fixed-variant: #2c3b2b;
  --noctalia-on-secondary-fixed-variant-rgb: 44, 59, 43;
  --noctalia-on-surface: #dfe4dc;
  --noctalia-on-surface-rgb: 223, 228, 220;
  --noctalia-on-surface-variant: #c1c9be;
  --noctalia-on-surface-variant-rgb: 193, 201, 190;
  --noctalia-on-tertiary: #00363e;
  --noctalia-on-tertiary-rgb: 0, 54, 62;
  --noctalia-on-tertiary-container: #091316;
  --noctalia-on-tertiary-container-rgb: 9, 19, 22;
  --noctalia-on-tertiary-fixed: #212a2c;
  --noctalia-on-tertiary-fixed-rgb: 33, 42, 44;
  --noctalia-on-tertiary-fixed-variant: #2b383b;
  --noctalia-on-tertiary-fixed-variant-rgb: 43, 56, 59;
  --noctalia-outline: #8b9389;
  --noctalia-outline-rgb: 139, 147, 137;
  --noctalia-outline-variant: #656c63;
  --noctalia-outline-variant-rgb: 101, 108, 99;
  --noctalia-primary: #9ad4a1;
  --noctalia-primary-rgb: 154, 212, 161;
  --noctalia-primary-container: #2a9236;
  --noctalia-primary-container-rgb: 42, 146, 54;
  --noctalia-primary-fixed: #bef4c4;
  --noctalia-primary-fixed-rgb: 190, 244, 196;
  --noctalia-primary-fixed-dim: #96e9a0;
  --noctalia-primary-fixed-dim-rgb: 150, 233, 160;
  --noctalia-scrim: #000000;
  --noctalia-scrim-rgb: 0, 0, 0;
  --noctalia-secondary: #b7ccb6;
  --noctalia-secondary-rgb: 183, 204, 182;
  --noctalia-secondary-container: #498a46;
  --noctalia-secondary-container-rgb: 73, 138, 70;
  --noctalia-secondary-fixed: #c0f4be;
  --noctalia-secondary-fixed-rgb: 192, 244, 190;
  --noctalia-secondary-fixed-dim: #9ae996;
  --noctalia-secondary-fixed-dim-rgb: 154, 233, 150;
  --noctalia-shadow: #000000;
  --noctalia-shadow-rgb: 0, 0, 0;
  --noctalia-surface: #101510;
  --noctalia-surface-rgb: 16, 21, 16;
  --noctalia-surface-bright: #2a382a;
  --noctalia-surface-bright-rgb: 42, 56, 42;
  --noctalia-surface-container: #101510;
  --noctalia-surface-container-rgb: 16, 21, 16;
  --noctalia-surface-container-high: #192119;
  --noctalia-surface-container-high-rgb: 25, 33, 25;
  --noctalia-surface-container-highest: #222c22;
  --noctalia-surface-container-highest-rgb: 34, 44, 34;
  --noctalia-surface-container-low: #101510;
  --noctalia-surface-container-low-rgb: 16, 21, 16;
  --noctalia-surface-container-lowest: #101510;
  --noctalia-surface-container-lowest-rgb: 16, 21, 16;
  --noctalia-surface-dim: #070907;
  --noctalia-surface-dim-rgb: 7, 9, 7;
  --noctalia-surface-variant: #101510;
  --noctalia-surface-variant-rgb: 16, 21, 16;
  --noctalia-terminal-background: #101510;
  --noctalia-terminal-background-rgb: 16, 21, 16;
  --noctalia-terminal-bright-black: #363a35;
  --noctalia-terminal-bright-black-rgb: 54, 58, 53;
  --noctalia-terminal-bright-blue: #b5f1bc;
  --noctalia-terminal-bright-blue-rgb: 181, 241, 188;
  --noctalia-terminal-bright-cyan: #b7ccb6;
  --noctalia-terminal-bright-cyan-rgb: 183, 204, 182;
  --noctalia-terminal-bright-green: #9ad4a1;
  --noctalia-terminal-bright-green-rgb: 154, 212, 161;
  --noctalia-terminal-bright-magenta: #d3e8d2;
  --noctalia-terminal-bright-magenta-rgb: 211, 232, 210;
  --noctalia-terminal-bright-red: #ffb4ab;
  --noctalia-terminal-bright-red-rgb: 255, 180, 171;
  --noctalia-terminal-bright-white: #dfe4dc;
  --noctalia-terminal-bright-white-rgb: 223, 228, 220;
  --noctalia-terminal-bright-yellow: #a1ced8;
  --noctalia-terminal-bright-yellow-rgb: 161, 206, 216;
  --noctalia-terminal-cursor: #dfe4dc;
  --noctalia-terminal-cursor-rgb: 223, 228, 220;
  --noctalia-terminal-cursor-text: #414941;
  --noctalia-terminal-cursor-text-rgb: 65, 73, 65;
  --noctalia-terminal-foreground: #dfe4dc;
  --noctalia-terminal-foreground-rgb: 223, 228, 220;
  --noctalia-terminal-normal-black: #101510;
  --noctalia-terminal-normal-black-rgb: 16, 21, 16;
  --noctalia-terminal-normal-blue: #b5f1bc;
  --noctalia-terminal-normal-blue-rgb: 181, 241, 188;
  --noctalia-terminal-normal-cyan: #b7ccb6;
  --noctalia-terminal-normal-cyan-rgb: 183, 204, 182;
  --noctalia-terminal-normal-green: #9ad4a1;
  --noctalia-terminal-normal-green-rgb: 154, 212, 161;
  --noctalia-terminal-normal-magenta: #d3e8d2;
  --noctalia-terminal-normal-magenta-rgb: 211, 232, 210;
  --noctalia-terminal-normal-red: #ffb4ab;
  --noctalia-terminal-normal-red-rgb: 255, 180, 171;
  --noctalia-terminal-normal-white: #dfe4dc;
  --noctalia-terminal-normal-white-rgb: 223, 228, 220;
  --noctalia-terminal-normal-yellow: #a1ced8;
  --noctalia-terminal-normal-yellow-rgb: 161, 206, 216;
  --noctalia-terminal-selection-bg: #003916;
  --noctalia-terminal-selection-bg-rgb: 0, 57, 22;
  --noctalia-terminal-selection-fg: #9ad4a1;
  --noctalia-terminal-selection-fg-rgb: 154, 212, 161;
  --noctalia-tertiary: #a1ced8;
  --noctalia-tertiary-rgb: 161, 206, 216;
  --noctalia-tertiary-container: #2b879b;
  --noctalia-tertiary-container-rgb: 43, 135, 155;
  --noctalia-tertiary-fixed: #beeaf4;
  --noctalia-tertiary-fixed-rgb: 190, 234, 244;
  --noctalia-tertiary-fixed-dim: #96dae9;
  --noctalia-tertiary-fixed-dim-rgb: 150, 218, 233;

  --noctalia-primary-soft: #9ad4a1;
  --noctalia-primary-hover: #b7e0bc;
  --noctalia-primary-focus: #9ad4a1;

  --noctalia-surface-overlay: #101510;
  --noctalia-surface-raised: #1d261d;
  --noctalia-surface-muted: #101510;

  --noctalia-outline-soft: #8b9389;
  --noctalia-outline-strong: #b5bab4;
  --noctalia-shadow-soft: #000000;

  --noctalia-info: #b3ccbe;
  --noctalia-success: #9bd4a0;
  --noctalia-warning: #eabf8e;
  --noctalia-danger: #ffb4ae;

  --noctalia-mError: var(--noctalia-error);
  --noctalia-mOnError: var(--noctalia-on-error);
  --noctalia-mOnPrimary: var(--noctalia-on-primary);
  --noctalia-mOnSecondary: var(--noctalia-on-primary);
  --noctalia-mOnSurface: var(--noctalia-on-surface-variant);
  --noctalia-mOnSurfaceVariant: var(--noctalia-on-surface);
  --noctalia-mOnTertiary: var(--noctalia-on-tertiary);
  --noctalia-mOutline: var(--noctalia-outline);
  --noctalia-mPrimary: var(--noctalia-primary);
  --noctalia-mSecondary: var(--noctalia-primary);
  --noctalia-mShadow: var(--noctalia-shadow);
  --noctalia-mSurface: var(--noctalia-surface);
  --noctalia-mSurfaceVariant: var(--noctalia-surface-container-high);
  --noctalia-mTertiary: var(--noctalia-tertiary);
}
